
        img {
            border-radius: 0%;
            height:225px;
            width:150px;
        }
        body {
            padding: 36px 24px;
          }
          
          .row + .row {
            margin-top: 30px;
          }
          