<h1>Games exchange</h1>
<jw-modal id="custom-modal-1">
  <h1>A Custom Modal!</h1>
  <p><input type="text" disabled [(ngModel)]="bodyText" /></p>
  <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>

<ul *ngIf="games">
  <li *ngFor="let game of games"> 
    
    <p class="left"><img [src]="game.avatar">{{ game.name }} {{ game.lastname }}</p>
    <p class="right">{{ game.from }}<img [src]="game.fromImage"><img class="arrow" src="assets/rightarrow.jpg"><img [src]="game.toImage">{{ game.to }}  <button (click)="exchange(game.id)">Exchange</button></p>
  </li>
</ul>
